html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.sticky {
  position: fixed;
  top: 0; opacity: 70%;
  width: 100%;
}

.skyline {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.block {
  position: relative;
  width: 580px;
  height: 460px;
  margin: 10px 300px 20px 80px;
}

h2{
  position: absolute;
  font-family:'Space Grotesk', sans-serif;
  font-size: 64px;
}

.block-1{
  background: url(ling-tang-DmmhxZhhZ4M-unsplash.jpg) no-repeat 50% 50%;
  background-size: cover; 
}

.container {
  margin-top: 5px;
  margin-left: 0px; 
}

.block-1 h1,
.block-3 h1,
.block-5 h1 {
  bottom: 0;
  right: -60px;
}

.block-2 h1,
.block-4 h1 {
  right: -60px;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}