html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(3, 3, 77);
  scroll-behavior: smooth;
  font-size: 16px;
}

.stickyruler {
  position: fixed ;
  top: 0; opacity: 70%;
  width: 100%;
}

.skyline {
  
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.channel-title {
  font-size: 270px;
  width: 100%;
  font-family:'Poppins', sans-serif;
  margin-top: 0em;
  margin-left: 15px;
  margin-right: 15px;
  letter-spacing: 0;
  margin-bottom: 50px;
  color: rgb(248, 246, 229);
} 

@media screen and (max-width: 601px) {
  .channel-title {
    display: none;
  }
}

.h2 {
  font-size: 130px;
  width: 100%;
  font-family:'Poppins', sans-serif;
  margin-top: 0em;
  margin-left: 85px;
  letter-spacing: 0;
  text-align: center;
  word-spacing:-3ch;
  margin-bottom: 0cm;
  color: rgb(248, 246, 229);
}

@media screen and (min-width: 601px) {
  .h2 {
    display: none;}
  }

  .h3 {
    font-size: 250px;
    width: 100%;
    text-align: center;
    font-family:'Poppins', sans-serif;
    margin-top: 2px;
    margin-bottom: 35px;
    margin-left: 15px;
    margin-right: 15px;
    letter-spacing: 0;
    color: rgb(20, 28, 90);
    text-align: center;
  }

  @media screen and (max-width: 601px) {
    .h3 {
      display: none;}
    }

  .channel-description {
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: -5em;
    letter-spacing: 0;
    word-spacing: 2px;
    line-height: 23px;
    color: rgb(96, 101, 138);
    text-align: center;
    margin-bottom: 3em;
  }

  @media screen and (max-width: 601px) {
    .channel-description {
      font-size: 15px;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: -1em;
    padding-left: 90px;
    padding-right: 0px;
    letter-spacing: 0;
    word-spacing: 2px;
    color: rgb(96, 101, 138);
    text-align: center;
    }
  }

  .channel-link {
    color: #a7adba;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 550px;
    padding-right: 550px;
  }

  @media screen and (max-width: 601px) {
    .channel-link {
    color: #a7adba;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }

  .button-container {
    width: 100%;
    padding-left: 450px;
    padding-bottom: 63px;
  }
  
  .button-container button {
    display: inline-block;
    margin-right: 10px; 
    margin-left: 33px;
    background-color: rgb(3, 3, 77);
    margin-left: 80px;
    padding: 10px;
      font-size: medium;
      font-family: 'Space Grotesk', sans-serif;
      letter-spacing: 3px;
      color: rgb(253, 245, 212); 
      border: 0.3px solid rgb(253, 245, 212);
    }

  .button-container button:hover {
    background-color: #234176;
    color: rgb(253, 245, 212);
  }

ul
 {
  display: grid;
  border-radius: 30px;
}

link-block
 {
  display: grid;
  border-radius: 30px;
}

pdf-block
 {
  display: grid;
  border-radius: 30px;
}

video-embed-block
 {
  display: grid;
  border-radius: 30px;
}

text-block
 {
  display: grid;
  border-radius: 30px;
}

video-file-block
 {
  display: grid;
  border-radius: 30px;
}

video-file-block
 {
  display: grid;
  border-radius: 30px;
}

.scroll {
  display:inline;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.channel-owner channel-collaborator {
  font-size: 16px;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0;
  word-spacing: 2px;
  line-height: 23px;
  color: rgb(96, 101, 138);
  text-align: center;
}

.channel-count {
  font-size: 23px;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 0;
    word-spacing: 2px;
    line-height: 23px;
    padding-bottom: 25px;
    color: rgb(96, 101, 138);
    text-align: center;
}

.full-name {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  padding-bottom: 55px;
  word-spacing: 2px;
  line-height: 23px;
  color: rgb(96, 101, 138);
  text-align: center;
}

.title {
  font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 0;
    color: rgb(96, 101, 138);
    text-align: left;
    padding: 15px;
    padding-left: 55px;
    padding-right: 55px;
}

.image-thumb {
  display: grid;
  border-radius: 30px;
}

.image-block {
  display: grid;
  border-radius: 30px;
}


.link-title {
  font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 0;
    color: rgb(96, 101, 138);
    text-align: left;
    padding: 15px;
    padding-left: 55px;
    padding-right: 55px;
}

.type {
  font-size: 16px;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0;
  color: rgb(96, 101, 138);
  text-align: left;
  padding: 15px;
  padding-left: 55px;
  padding-right: 55px;
}

.time-updated {
  font-size: 16px;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0;
  color: rgb(96, 101, 138);
  text-align: left;
  padding: 15px;
  padding-left: 55px;
  padding-right: 55px;
}

.time-created {
  font-size: 16px;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0;
  color: rgb(96, 101, 138);
  text-align: left;
  padding: 15px;
  padding-left: 55px;
  padding-right: 55px;
}

.description {
  font-size: 16px;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0;
  color: rgb(96, 101, 138);
  text-align: left;
  padding: 15px;
  padding-left: 55px;
  padding-right: 55px;
}

.sticky-btn:hover {
  background-color: #555;
}

/*bottom navigation menu for phone*/

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fcfbf4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 999;
}

.nav-item {
  display: flex;
  font-family: 'Space Grotesk', sans-serif; 
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}



.active {
  color: #272094;
}
