html, body {
  background-color: rgb(245, 242, 234);
  scroll-behavior: smooth;
}

/*constant for all body*/
body {
 margin: auto;
 padding: auto;
  width: 98%;
  box-sizing: border-box;
}

/*custom font used*/
@font-face {
  font-family: 'Thunder-BoldLC';
  src: url('fonts/mycustomfont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*ruler/scale on header*/
.stickyruler {
  top: 0;
  left:0;
  opacity: 80%;
  width: 100%;
  aspect-ratio: 0 /0;
  width: 100%;
  padding: 0px;
  border-radius: 0px;
  margin-top: 0px;
  align-items: start;
  border-color: none;
  border-style:none;
}


/*landing page skyline image*/
.skyline {
  position:fixed
  bottom: 0;
  width: 100%;
}

.channel-title {
  font-size: 34.5vw;
  width: 100%;
  letter-spacing: 2px;
  color: rgb(210, 62, 8);
  font-family:'Thunder-BoldLC', sans-serif;
  font-weight: 900;
	margin-top: 20px;
  margin-bottom: -35px;
} 

@media screen and (min-width: 601px) {
  .channel-title {
    font-size: 36vw;
    width: 100%;
    letter-spacing: 0px;
    color: rgb(210, 62, 8);
    font-family: 'Thunder-BoldLC', sans-serif;
    font-weight: 900;
    line-height: 11vw;
    margin-top: 16vw;
    margin-bottom: 1vw;
}
}

  /*sub-heading*/
  .h3 {
    font-size: 18vw;
    width: 100%;
    letter-spacing: 0;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center ;
    margin-top: -1px;
    padding-bottom: 5vw;
    color: rgb(4, 169, 156);
    font-family: 'Space Grotesk', sans-serif;
    line-height: 12vw;
    font-style: oblique;
  }

  @media screen and (max-width: 601px) {
    .h3 {
      font-size: 18vw;
      width: 100%;
      justify-content: center ;
      letter-spacing: 0;
      padding-left: 0px;
      margin-top: 18px;
      padding-bottom: 30px;
      text-align: center;
      color: rgb(4, 169, 156);
      font-family: 'Space Grotesk', sans-serif;
      line-height: 11vw;
      font-style: oblique;
    }
  }

  .channel-description {
    font-size: 15px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 100;
    margin-top: 1em;
    padding-left: 25%;
    letter-spacing: 0px;
    word-spacing: 1px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
    justify-content: center;
    align-content: center;
    margin-bottom: 2em;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 1vw;
  }

  @media screen and (max-width: 601px) {
    .channel-description {
      margin-top: 6px;
  }
  }

  .channel-link {
    width: 100%;
    justify-items: center;
  }

  @media screen and (max-width: 601px) {
    .channel-link {
      width:auto;
  }
  }

section,
ul,
figure {
    display: grid;
    width: 100%;
    align-items: center;
    align-content: center;
    gap: 0.7em;
}

p{
	margin-bottom: 10px;
}

/*CONTENT*/
    ul {
        --columns: 1;
        display: grid;
        grid-template-columns: repeat(var(--columns),1fr);
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width: 700px ) {
      ul{
          --columns:3;
      }
  }

  img {
    display: block;
    width: 100%;
    border-radius: 9px;
    object-fit: cover;
    aspect-ratio: 2/1.3;
    margin-top: 3px;
    align-items: center;
    filter:grayscale(100);
  }

  @media screen and (max-width: 700px ) {
    .img {
     
    display: block;
    width: 100%;
    border-radius: 9px;
    object-fit: cover;
    aspect-ratio: 2/1.3;
    margin-top: 3px;
    align-items: center;
  }
}

  .image-blocks {
    filter: opacity(100%);
  }

  .image {
    filter:grayscale(100);
    animation: ;
  }

  .image:hover {
    filter:invert(2);
    transition-delay: 2s;
  }

      .symbols {
        display: flex;
        align-items: center; 
        margin-top: 1em;
        justify-content: center;
      }

      
      /*ICONS*/

.media{
	display: flex;
  width: 100%;
	justify-content:space-evenly;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 700px ) {
  .media {
    padding: 10px;
  }
}

      .material-symbols-outlined {
        padding: 13px;
        font-size: 2vw;
        font-weight: 100;
        color:rgb(229, 223, 209);
      }

      @media screen and (max-width: 700px ) {
        .material-symbols-outlined {
          padding: 0px;
          font-size: 5vw;
          font-weight: 50;
          color:rgb(229, 223, 209);
        }
      }

      .collaborator {
        font-family: 'Space Grotesk', sans-serif;
        padding: 40px;
        justify-content: center;
        align-items: center;
        align-content: center;
      }

     


  