html, body {
  background-color: rgb(245, 242, 234);
  scroll-behavior: smooth;
}

body {
 margin: auto;
  width: 98%;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('fonts/mycustomfont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.stickyruler {
  position: fixed ;
  top: 0;
  left:0;
  z-index: 999;
  opacity: 80%;
  width: 100%;
  aspect-ratio: 0 /0;
  width: 100%;
  padding: 0px;
  border-radius: 0px;
  margin-top: 0px;
  align-items: start;
  border-color: none;
  border-style:none;
}


.skyline {
  
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.channel-title {
  font-size: 19vw;
  width: 100%;
  letter-spacing: -5px;
  color: rgb(0, 0, 0);
  font-family:'MyCustomFont', sans-serif;
  font-weight: 900;
	line-height: 11vw;
	margin-top: 30px;
  margin-bottom: -30px;
} 

@media screen and (min-width: 601px) {
  .channel-title {
    font-size: 21vw;
    width: 100%;
    letter-spacing: -23px;
    color: rgb(0, 0, 0);
    font-family: 'MyCustomFont', sans-serif;
    font-weight: 900;
    line-height: 11vw;
    margin-top: 30px;
    margin-bottom: 3px;
}
}

  .h3 {
    font-size: 16vw;
    width: 100%;
    letter-spacing: 0;
    padding-left: 0px;
    margin-top: -1em;
    padding-right: 0px;
    justify-content: center;
    margin-top: -25px;
    color: rgb(4, 203, 134);
    font-family: 'Space Grotesk', sans-serif;
    line-height: 11vw;
    font-style: oblique;
  }

  @media screen and (max-width: 601px) {
    .h3 {
      font-size: 14vw;
      width: 100%;
      justify-content: center;
      letter-spacing: 0;
      padding-left: 0px;
      margin-top: 15px;
      color: rgb(4, 203, 134);
      font-family: 'Space Grotesk', sans-serif;
      line-height: 11vw;
      font-style: oblique;
    }
  }

  .channel-description {
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 100;
    margin-top: 3em;
    padding: 10px;
    letter-spacing: 0px;
    word-spacing: 1px;
    line-height: 23px;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-bottom: 2em;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .channel-link {
    color: #000000;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    padding-left: 40px;
    padding-right: 0px;
    text-align: center;
    padding-bottom: 40px;
  }

  @media screen and (max-width: 601px) {
    .channel-link {
    color: #000000;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    margin: auto;
    padding: auto;
    letter-spacing: 1px;
    padding-bottom: 1em;
  }
  }

section,
ul,
figure {
    display: grid;
    width: 100%;
    align-items: center;
    align-content: center;
    gap: 0.7em;
}

p{
	margin-bottom: 10px;
}


/*CONTENT*/
    ul {
        --columns: 1;
        display: grid;
        grid-template-columns: repeat(var(--columns),1fr);
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width: 700px ) {
      ul{
          --columns:3;
          align-items: center;
      }
  }

     img {
        display: block;
        width: 100%;
        border-radius: 9px;
        object-fit: cover;
        aspect-ratio: 2/1.3;
        margin-top: 3px;
        align-items: center;
        filter:grayscale(100);
      }
    
      @media screen and (max-width: 700px ) {
        .img {
         
        display: block;
        width: 100%;
        border-radius: 9px;
        object-fit: cover;
        aspect-ratio: 2/1.3;
        margin-top: 3px;
        align-items: center;
      }
    }

      .image-blocks {
        filter: opacity(100%);
      }

      .image {
        filter:grayscale(100);
        animation: ;
        animation-duration: 2s;
      }

      .image:hover {
        filter:invert(1);
        transition-delay: 2s;
      }

      .symbols {
        display: flex;
        align-items: center; 
        margin-top: 1em;
        justify-content: center;
      }

      
      /*ICONS*/

.media{
	flex-direction: row;
  width: 100%;
  font-size: small;
	justify-content: center;
  bottom: 0;
  position: fixed;
  z-index: 999;
  background-color: #000000;
}

      .material-symbols-outlined {
        padding: 5px;
        font-size: 15px;
        color: #ffffff;
        object-position: center center;
        appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
      }

      .collaborator {
        font-family: 'Space Grotesk', sans-serif;
        padding: 40px;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
      